.App {
  
}



#drum-machine{
position: absolute;
left: 50%;
transform: translate(-50%);
width: 150px;
height: 10px;

top: 100px;
}
body{
  background-color: rgb(141, 84, 9);
}
#display {
  width: 215px;
  height: 94px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #399;
  display: inline-block;
  border: solid black;
}